/*
body{
    background-color:azure;
}
*/

.liga {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 4%;
    border: 2px solid black;
    border-radius: 10px;
}

.copa {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 4%;
    border: 2px solid black;
    border-radius: 10px;
}

.champions {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 4%;
    border: 2px solid black;
    border-radius: 10px;
}

p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

ol {
    padding: 10px;
}

ol li {
    margin-bottom: 30px;

}

ul {
    padding: 13;
    display: flex;
    justify-content: space-between;

}

ul li>a {
    margin-bottom: 10px;
    color: darkred;

}

dl {
    padding: 5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contactos {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: darkred;
}

dd {
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 7;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}


th,
td {
    padding: 10px;
}

th {
    text-align: left;
}