/* Colocamos un fondo ha nuestra pagina wed */
body {
    background-color: brown;
}

.codigo {
    /*estas 2 lineas sirven para centar la imagen*/
    display: block;
    margin: auto;
    /*redondear esquinas de una imagen*/
    border-radius: 4%;
}

h1{
    /*Centrar un texto*/
    text-align: center;
}